.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App-title {
  margin: 20px;
}

.App-section {
  margin: 20px;
}

.App-camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

